body {
    height: fit-content;
    width: fit-content;
    background: rgb(40, 40, 40);
    color: rgb(250, 250, 250);
    border: solid 0.2em rgb(224, 224, 224);
    padding: 0.75em;
    margin: 0;
    font-family: sans-serif;
}

.title-text {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.info-text {
    font-size: 1em;
    white-space: nowrap;
}

.row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.row.box {
    display: flex;
    align-items: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.row.box div {
    flex: 1;
}

.row.box label {
    flex: 1;
}

.row.box:nth-child(odd) {
    background: rgb(35, 35, 35);
}

.row.box:nth-child(even) {
    background: rgb(48, 48, 48);
}

.row.box:first-child {
    border-radius: 0.5em 0.5em 0 0;
}

.row.box:last-child {
    border-radius: 0 0 0.5em 0.5em;
}

button {
    font-size: 1.05em;
    font-family: "Noto Sans", sans-serif;
    border-radius: 0.5em;
    background-color: #1c6ad3;
    border: #519bff solid 0;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1em;
    padding-left: 1em;
    color: #FAFAFA;
    width: 100%;
}

button:hover {
    background-color: #3782e4;
}

button:active {
    background-color: #4a95f7;
}

#hide-all-button {
    margin-top: 0.5em;
}

.textbox {
    width: 5em;
    display: flex;
    justify-content: right;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    border-radius: 8px;
    outline: none;
    width: 2.5em;
    height: 1.1em;
    background-color: rgb(168, 168, 168);
    border: none;
    transition: background .1s;
}

input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.45em;
    width: 1.45em;
    background-color: rgb(250, 250, 250);
    transition: left .1s;
}

input:checked {
    background-color: #1c6ad3;
}

input:checked::after {
    left: 75%;
}